/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

/* set default font-size to 15px */
html {
  font-size: 15px;
}

.dark {
  color-scheme: dark;
}

.light {
  color-scheme: light;
}

.dark * {
  @apply text-slate-50;
  @apply border-slate-600;
}

.light * {
  @apply text-stone-950;
  @apply border-stone-200;
}
